.center-div {
    text-align: center;
    margin-top: 10px;
}

/* Center the media (image or video) at the top */
#memesContainer {
    position: relative;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    height: calc(100vh - 290px);
    /* Adjust the height to leave space for the buttons and center the media */
    text-align: center;
}

#memesImage,
#memesVideo {
    max-width: 100%;
    max-height: 350px;
}

button {
    border-radius: 4px;
    height: 30px;
    margin-top: 5px;
}

#memeIdText {
    text-align: center;
    position: relative;
    top: -10px;
}

#loadMemeButton {
    margin-top: 20px;
}

/* Adjust positioning for buttons and text */
#loadRandommemesButton,
#downloadButton,
#loadSpecificMemeButton,
#memeIdText {
    position: relative;
    top: 10px;
    /* Adjust the value to move the elements down */
}

.wrap-layer {
    position: relative;
}

.mainDiv {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    /* non-critical styles left out */
}

.background-layer svg * {
    transition: fill 1s ease;
}

.background-layer:hover #E1 {
    fill: #404;
}

.background-layer:hover #E2 {
    fill: #505;
}

.background-layer:hover #E3 {
    fill: #606;
}

.background-layer:hover #E4 {
    fill: #707;
}

.background-layer:hover #E5 {
    fill: #808;
}

body {
    background: url(../../internalimages/bg.svg);
    background-size: 1920px 1080px;
    background-position: -150px;
}
